# We don't hardcode passwords here.
# We'll use a bash script to substitute environment variables into this SQL script
# and put the result in /docker-entrypoint-initdb.d/

CREATE DATABASE IF NOT EXISTS `npm`;
CREATE USER IF NOT EXISTS 'npm'@'%' IDENTIFIED BY '${NPM_DB_PASSWORD}';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER, INDEX, REFERENCES ON `npm`.* TO 'npm'@'%';

CREATE DATABASE IF NOT EXISTS `nextcloud`;
CREATE USER IF NOT EXISTS 'nextcloud'@'%' IDENTIFIED BY '${NEXTCLOUD_DB_PASSWORD}';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER, INDEX, REFERENCES ON `nextcloud`.* TO 'nextcloud'@'%';

CREATE DATABASE IF NOT EXISTS `gitea`;
CREATE USER IF NOT EXISTS 'gitea'@'%' IDENTIFIED BY '${GITEA_DB_PASSWORD}';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER, INDEX, REFERENCES ON `gitea`.* TO 'gitea'@'%';

CREATE DATABASE IF NOT EXISTS `yourls`;
CREATE USER IF NOT EXISTS 'yourls'@'%' IDENTIFIED BY '${YOURLS_DB_PASSWORD}';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER, INDEX, REFERENCES ON `yourls`.* TO 'yourls'@'%';

FLUSH PRIVILEGES;
